<header>
  <!-- Navbar -->
  <nav class="py-8 bg-green-50 w-full">
    <div class="md:container px-4 md:px-0 mx-auto flex justify-between w-full">
      <p><%= link_to "人生観が変わった話", root_path %></p>
      <div class="space-y-1.5 cursor-pointer">
        <p><%= link_to "ログイン", login_path %></p>
      </div>
    </div>
  </nav>
</header>