<ul class='crud-menu-btn list-inline float-right'>
<%# boardパーシャルのboardがここのboardの情報になる %>
  <% if current_user.own?(board) %>
    <li class="list-inline-item">
      <%= link_to edit_board_path(board) ,id: "button-edit-#{board.id}" do %>
        <%= icon 'fa', 'pen' %>
      <% end %>
    </li>
  <% end %>
</ul>