<ul class='crud-menu-btn list-inline float-right flex'>
    <li class="list-inline-item">
      <%= link_to edit_board_path(board) do %>
      <i class="fa-solid fa-file-pen"></i>
    </li>
    <% end %>
    <li class="list-inline-item">
      <%= link_to board_path(board), data: { confirm: 'Are you sure?' },  method: :delete do %>
      <i class="fa-solid fa-eraser"></i>
    </li>
    <% end %>
</ul>

