<div class="container">
  <div class ="head">
  <h1><%= @board.user.name%>さんの人生観が変わった話</h1>
  </div>
  <div class ="title">
  <h3>タイトル</h3>
  <span><%= @board.title%></span>
  </div>
  <div class="experience">
  <h3>人生観が変わった出来事</h3>
  <span><%= @board.incident%></span>
  </div>
  <div class="applause">
  <h3>イメージ画像</h3>
  <p>回数表示</p>
</div>